In [2]:
import sqlite3
import pandas as pd
import datetime
import load_database_functions
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import datetime
import sqlite3
import re
con = sqlite3.connect('all_cbb_data_2-24_v1.db')
cur = con.cursor()

# DB Structure

## Tables and Column    
- Teams
    - espn_team_id
    - team_name
    - logo_url
    - team_page_url 
- Team_Week_Rankings
    - espn_team_id
    - week_number
    - ranking
- Team_Schedule
    - espn_team_id
    - opponent_espn_team_id
    - game_date
    - is_home
    - is_neutral_court
    - is_win
    - final_score
    - opponent_final_score
    - game_time
    - tv
    - cancelled_or_postponed
- Weeks
    - week_number
    - start_date_inclusive
    - end_date_exclusive
    - is_current_week

In [2]:
con = sqlite3.connect('all_cbb_data.db')
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE teams
               (espn_team_id integer, team_name text, logo_url text, team_page_url text)''')


cur.execute('''CREATE TABLE team_week_rankings
               (espn_team_id integer, week_number integer, ranking integer)''')

cur.execute('''CREATE TABLE team_schedule
               (espn_team_id integer, opponent_espn_team_id integer, game_date text, is_home integer, 
               is_neutral_court integer, is_win integer, final_score integer, opponent_final_score integer,
               game_time text, tv text, cancelled_or_postponed integer)''')

cur.execute('''CREATE TABLE weeks
               ( week_number integer, start_date_inclusive text, end_date_exclusive text, is_current_week integer)''')

season_start_date = datetime.date(2021,11,8)
season_end_date = datetime.date(2022,3, 14)

load_database_functions.create_weeks_table(con, season_start_date, season_end_date)
# Insert a row of data
#cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
con.commit()

In [8]:

season_start_date = datetime.date(2021,11,8)
(season_start_date+ datetime.timedelta(days=14)).strftime("%a, %m-%d-%y")

season_start_date = datetime.date(2021,11,8)
season_end_date = datetime.date(2022,3, 14)

(season_end_date - season_start_date).days/7

18.0

In [7]:
df = pd.read_sql_query("SELECT * from teams", con)
df

Empty DataFrame
Columns: [espn_team_id, team_name, logo_url, team_page_url]
Index: []

In [2]:
con = sqlite3.connect('all_cbb_data.db')
cur = con.cursor()
#cur.execute("INSERT INTO team_week_rankings VALUES (1,15,25)")

In [26]:
max_week = cur.execute('''SELECT max(week_number)
                FROM team_week_rankings''')

In [27]:
max_week.fetchone()[0]

15

In [3]:
con.close()

In [4]:

con = sqlite3.connect('all_cbb_data.db')
cur = con.cursor()

#teams_df, week_rank_df = load_database_functions.load_top25_teams(con,cur,2)
existing_teams_df, teams_df = load_database_functions.load_top25_teams(con, 2)

In [10]:
existing_teams_df

,espn_team_id,team_name,logo_url,team_page_url
0,2250,Gonzaga,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2250/gonzag...
1,26,UCLA,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/26/ucla-bruins
2,2305,Kansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2305/kansas...
3,222,Villanova,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/222/villano...
4,251,Texas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/251/texas-l...
5,130,Michigan,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/130/michiga...
6,2509,Purdue,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2509/purdue...
7,239,Baylor,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/239/baylor-...
8,150,Duke,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/150/duke-bl...
9,96,Kentucky,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/96/kentucky...
10,356,Illinois,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/356/illinoi...
11,235,Memphis,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/235/memphis...
12,2483,Oregon,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2483/oregon...
13,333,Alabama,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/333/alabama...
14,248,Houston,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/248/houston...
15,8,Arkansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/8/arkansas-...
16,194,Ohio State,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/194/ohio-st...
17,2633,Tennessee,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2633/tennes...
18,153,North Carolina,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/153/north-c...
19,52,Florida State,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/52/florida-...
20,120,Maryland,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/120/marylan...
21,2,Auburn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2/auburn-ti...
22,179,St. Bonaventure,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/179/st-bona...
23,41,UConn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/41/uconn-hu...
24,258,Virginia,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/258/virgini...

In [11]:
teams_df

,espn_team_id,team_name,logo_url,team_page_url
0,2250,Gonzaga,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2250/gonzag...
1,26,UCLA,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/26/ucla-bruins
2,2305,Kansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2305/kansas...
3,130,Michigan,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/130/michiga...
4,222,Villanova,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/222/villano...
5,2509,Purdue,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2509/purdue...
6,150,Duke,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/150/duke-bl...
7,251,Texas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/251/texas-l...
8,239,Baylor,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/239/baylor-...
9,356,Illinois,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/356/illinoi...
10,235,Memphis,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/235/memphis...
11,2483,Oregon,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2483/oregon...
12,96,Kentucky,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/96/kentucky...
13,333,Alabama,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/333/alabama...
14,248,Houston,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/248/houston...
15,8,Arkansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/8/arkansas-...
16,2633,Tennessee,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2633/tennes...
17,153,North Carolina,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/153/north-c...
18,194,Ohio State,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/194/ohio-st...
19,120,Maryland,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/120/marylan...
20,2,Auburn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2/auburn-ti...
21,179,St. Bonaventure,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/179/st-bona...
22,41,UConn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/41/uconn-hu...
23,57,Florida,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/57/florida-...
24,30,USC,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/30/usc-trojans

In [6]:
#teams
#team_week_rankings
df = pd.read_sql_query("SELECT * from teams", con)
df

,espn_team_id,team_name,logo_url,team_page_url
0,2250,Gonzaga,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2250/gonzag...
1,26,UCLA,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/26/ucla-bruins
2,2305,Kansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2305/kansas...
3,222,Villanova,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/222/villano...
4,251,Texas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/251/texas-l...
5,130,Michigan,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/130/michiga...
6,2509,Purdue,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2509/purdue...
7,239,Baylor,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/239/baylor-...
8,150,Duke,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/150/duke-bl...
9,96,Kentucky,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/96/kentucky...
10,356,Illinois,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/356/illinoi...
11,235,Memphis,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/235/memphis...
12,2483,Oregon,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2483/oregon...
13,333,Alabama,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/333/alabama...
14,248,Houston,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/248/houston...
15,8,Arkansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/8/arkansas-...
16,194,Ohio State,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/194/ohio-st...
17,2633,Tennessee,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2633/tennes...
18,153,North Carolina,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/153/north-c...
19,52,Florida State,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/52/florida-...
20,120,Maryland,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/120/marylan...
21,2,Auburn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2/auburn-ti...
22,179,St. Bonaventure,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/179/st-bona...
23,41,UConn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/41/uconn-hu...
24,258,Virginia,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/258/virgini...
25,57,Florida,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/57/florida-...
26,30,USC,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/30/usc-trojans

In [18]:
teams_df['espn_team_id'].sort_values()

19     120
3      130
6      150
17     153
21     179
18     194
20       2
4      222
0     2250
2     2305
10     235
8      239
14     248
11    2483
5     2509
7      251
1       26
16    2633
24      30
13     333
9      356
22      41
23      57
15       8
12      96
Name: espn_team_id, dtype: object

In [19]:
existing_teams_df['espn_team_id'].sort_values()

21       2
15       8
1       26
23      41
19      52
9       96
20     120
5      130
8      150
18     153
22     179
16     194
3      222
11     235
7      239
14     248
4      251
24     258
13     333
10     356
0     2250
2     2305
12    2483
6     2509
17    2633
Name: espn_team_id, dtype: int64

In [14]:
df['espn_team_id'].sort_values()

46       2
21       2
70       2
40       8
65       8
      ...
6     2509
55    2509
42    2633
66    2633
17    2633
Name: espn_team_id, Length: 75, dtype: int64

In [7]:
teams_df

,espn_team_id,team_name,logo_url,team_page_url
0,2250,Gonzaga,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2250/gonzag...
1,26,UCLA,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/26/ucla-bruins
2,2305,Kansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2305/kansas...
3,130,Michigan,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/130/michiga...
4,222,Villanova,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/222/villano...
5,2509,Purdue,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2509/purdue...
6,150,Duke,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/150/duke-bl...
7,251,Texas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/251/texas-l...
8,239,Baylor,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/239/baylor-...
9,356,Illinois,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/356/illinoi...
10,235,Memphis,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/235/memphis...
11,2483,Oregon,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2483/oregon...
12,96,Kentucky,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/96/kentucky...
13,333,Alabama,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/333/alabama...
14,248,Houston,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/248/houston...
15,8,Arkansas,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/8/arkansas-...
16,2633,Tennessee,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2633/tennes...
17,153,North Carolina,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/153/north-c...
18,194,Ohio State,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/194/ohio-st...
19,120,Maryland,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/120/marylan...
20,2,Auburn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/2/auburn-ti...
21,179,St. Bonaventure,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/179/st-bona...
22,41,UConn,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/41/uconn-hu...
23,57,Florida,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/57/florida-...
24,30,USC,https://a.espncdn.com/combiner/i?img=/i/teamlo...,/mens-college-basketball/team/_/id/30/usc-trojans

In [8]:
week_rank_df

   espn_team_id  week_number ranking
0          2250            2       1
1            26            2       2
2          2305            2       3
3           130            2       4
4           222            2       5
5          2509            2       6
6           150            2       7
7           251            2       8
8           239            2       9
9           356            2      10
10          235            2      11
11         2483            2      12
12           96            2      13
13          333            2      14
14          248            2      15
15            8            2      16
16         2633            2      17
17          153            2      18
18          194            2      19
19          120            2      20
20            2            2      21
21          179            2      22
22           41            2      23
23           57            2      24
24           30            2      25

In [5]:
this_team_schedule_df = pd.read_html(load_database_functions.TEAM_SCHEDULE_URL.replace('TEAM_ID', str(2250)))[0]
this_team_schedule_df

,0,1,2,3,4,5,6,7
0,Regular Season,Regular Season,Regular Season,Regular Season,Regular Season,Regular Season,Regular Season,Regular Season
1,DATE,OPPONENT,RESULT,W-L (CONF),Hi Points,Hi Rebounds,Hi Assists,NaN
2,"Tue, Nov 9",vs Dixie State,W97-63,1-0 (0-0),Strawther 17,Holmgren 13,Watson 7,NaN
3,"Sat, Nov 13",vs 5 Texas,W86-74,2-0 (0-0),Timme 37,Timme 7,Nembhard 8,NaN
4,"Mon, Nov 15",vs Alcorn State,W84-57,3-0 (0-0),Strawther 18,Holmgren 6,Timme 6,NaN
5,"Fri, Nov 19",vs Bellarmine,W92-50,4-0 (0-0),Timme 25,Strawther 6,Nembhard 7,NaN
6,"Mon, Nov 22",vs Central Michigan *,W107-54,5-0 (0-0),Holmgren 19,Sallis 7,Bolton 5,NaN
7,"Tue, Nov 23",vs 2 UCLA *,W83-63,6-0 (0-0),Nembhard 24,Strawther 9,Nembhard 6,NaN
8,"Fri, Nov 26",vs 5 Duke *,L84-81,6-1 (0-0),Strawther 20,Strawther 10,Nembhard 11,NaN
9,"Mon, Nov 29",vs Tarleton,W64-55,7-1 (0-0),Bolton 17,Strawther 12,Holmgren 2,NaN
10,"Sat, Dec 4",vs 16 Alabama *,L91-82,7-2 (0-0),Timme 23,Holmgren 11,Timme 4,NaN
11,"Thu, Dec 9",vs Merrimack,W80-55,8-2 (0-0),Timme 22,Holmgren 15,Watson 5,NaN
12,"Sun, Dec 12",vs Washington,Canceled,Canceled,Canceled,Canceled,Canceled,NaN
13,"Sat, Dec 18",vs 25 Texas Tech *,W69-55,9-2 (0-0),Nembhard 16,Holmgren 11,Nembhard 6,NaN
14,"Mon, Dec 20",vs Northern Arizona,W95-49,10-2 (0-0),Holmgren 20,Holmgren 9,Nembhard 3,NaN
15,"Tue, Dec 28",vs North Alabama,W93-63,11-2 (0-0),Strawther 15,Watson 10,Timme 3,NaN
16,"Thu, Dec 30",@ San Diego,Postponed,Postponed,Postponed,Postponed,Postponed,NaN
17,"Sat, Jan 1",@ Loyola Marymount,Postponed,Postponed,Postponed,Postponed,Postponed,NaN
18,"Sat, Jan 8",vs Pepperdine,W117-83,12-2 (1-0),Watson 19,Holmgren 8,Nembhard 8,NaN
19,"Thu, Jan 13",vs BYU,W110-84,13-2 (2-0),Timme 30,Holmgren 7,Nembhard 12,NaN
20,"Sat, Jan 15",@ Santa Clara,W115-83,14-2 (3-0),Timme 32,Holmgren 12,Bolton 7,NaN
21,"Thu, Jan 20",vs San Francisco,W78-62,15-2 (4-0),Timme 23,Holmgren 9,Nembhard 7,NaN
22,"Thu, Jan 27",vs Loyola Marymount,W89-55,16-2 (5-0),Holmgren 21,Holmgren 9,Bolton 5,NaN
23,"Sat, Jan 29",vs Portland,W104-72,17-2 (6-0),Nembhard 22,Holmgren 11,Nembhard 4,NaN
24,"Thu, Feb 3",@ San Diego,W92-62,18-2 (7-0),Holmgren 23,Holmgren 12,Nembhard 7,NaN
25,"Sat, Feb 5",@ BYU,W90-57,19-2 (8-0),Holmgren 20,Holmgren 17,Holmgren 6,NaN
26,"Thu, Feb 10",vs Pacific,W89-51,20-2 (9-0),Bolton 20,Timme 10,Bolton 3,NaN
27,"Sat, Feb 12",vs 22 Saint Mary's,W74-58,21-2 (10-0),Timme 25,Holmgren 13,Nembhard 7,NaN
28,"Wed, Feb 16",@ Pepperdine,W86-66,22-2 (11-0),Timme 19,Holmgren 17,Nembhard 14,NaN
29,DATE,OPPONENT,TIME,TV,tickets,tickets,NaN,NaN
30,"Sat, Feb 19",vs Santa Clara,9:00 PM,NaN,NaN,NaN,NaN,NaN
31,"Thu, Feb 24",@ San Francisco,9:00 PM,NaN,Tickets as low as $135,Tickets as low as $135,NaN,NaN
32,"Sat, Feb 26",@ Saint Mary's,10:00 PM,NaN,Tickets as low as $81,Tickets as low as $81,NaN,NaN

In [6]:
import requests
from bs4 import BeautifulSoup
import re
team_schedule_response = requests.get(load_database_functions.TEAM_SCHEDULE_URL.replace('TEAM_ID', str(2250)))
soup = BeautifulSoup(team_schedule_response.content, 'lxml')

table = soup.find('table')
table

<table class="Table" style="border-collapse:collapse;border-spacing:0"><colgroup class="Table__Colgroup"><col class="Table__Column"/><col class="Table__Column"/><col class="Table__Column"/><col class="Table__Column"/><col class="Table__Column"/><col class="Table__Column"/><col class="Table__Column"/></colgroup><thead class="Table__THEAD"></thead><tbody class="Table__TBODY"><tr class="Table__TR Table__TR--sm Table__even" data-idx="0"><td class="Table__Title pt5 Table__TD" colspan="8">Regular Season</td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="1"><td class="ttu small-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu small-col Table_Headers">DATE</span></td><td class="ttu opponent-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu opponent-col Table_Headers">OPPONENT</span></td><td class="ttu small-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu small-col Table_Headers">RESULT</span></td><td class="ttu small-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu small-col Table_Headers">W-L (CONF)</span></td><td class="ttu athlete-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu athlete-col Table_Headers">Hi Points</span></td><td class="ttu athlete-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu athlete-col Table_Headers">Hi Rebounds</span></td><td class="ttu athlete-col Table_Headers Table__TD"><span class="fw-medium w-100 dib ttu athlete-col Table_Headers">Hi Assists</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="2"><td class="Table__TD"><span>Tue, Nov 9</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/3101/dixie-state-trailblazers" tabindex="0"><img alt="Dixie State" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/3101.png&amp;w=40&amp;h=40" title="Dixie State"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/3101/dixie-state-trailblazers" tabindex="0">Dixie State<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371246" tabindex="0">97-63 <!-- --> </a></span></td><td class="Table__TD"><span>1-0 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->17</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->13</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431705/anton-watson" tabindex="0">Watson<!-- --> </a> <!-- -->7</span></td></tr><tr class="filled Table__TR Table__TR--sm Table__even" data-idx="3"><td class="Table__TD"><span>Sat, Nov 13</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/251/texas-longhorns" tabindex="0"><img alt="Texas" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/251.png&amp;w=40&amp;h=40" title="Texas"/> </a></span><span>5 <a class="AnchorLink" href="/mens-college-basketball/team/_/id/251/texas-longhorns" tabindex="0">Texas<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371253" tabindex="0">86-74 <!-- --> </a></span></td><td class="Table__TD"><span>2-0 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->37</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->7</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->8</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="4"><td class="Table__TD"><span>Mon, Nov 15</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2016/alcorn-state-braves" tabindex="0"><img alt="Alcorn State" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2016.png&amp;w=40&amp;h=40" title="Alcorn State"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2016/alcorn-state-braves" tabindex="0">Alcorn State<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371256" tabindex="0">84-57 <!-- --> </a></span></td><td class="Table__TD"><span>3-0 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->18</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->6</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->6</span></td></tr><tr class="filled Table__TR Table__TR--sm Table__even" data-idx="5"><td class="Table__TD"><span>Fri, Nov 19</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/91/bellarmine-knights" tabindex="0"><img alt="Bellarmine" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/91.png&amp;w=40&amp;h=40" title="Bellarmine"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/91/bellarmine-knights" tabindex="0">Bellarmine<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401369156" tabindex="0">92-50 <!-- --> </a></span></td><td class="Table__TD"><span>4-0 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->25</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->6</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->7</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="6"><td class="Table__TD"><span>Mon, Nov 22</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2117/central-michigan-chippewas" tabindex="0"><img alt="Central Michigan" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2117.png&amp;w=40&amp;h=40" title="Central Michigan"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2117/central-michigan-chippewas" tabindex="0">Central Michigan<!-- --> </a>*</span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401365026" tabindex="0">107-54 <!-- --> </a></span></td><td class="Table__TD"><span>5-0 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->19</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433281/hunter-sallis" tabindex="0">Sallis<!-- --> </a> <!-- -->7</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4397242/rasir-bolton" tabindex="0">Bolton<!-- --> </a> <!-- -->5</span></td></tr><tr class="filled Table__TR Table__TR--sm Table__even" data-idx="7"><td class="Table__TD"><span>Tue, Nov 23</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/26/ucla-bruins" tabindex="0"><img alt="UCLA" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/26.png&amp;w=40&amp;h=40" title="UCLA"/> </a></span><span>2 <a class="AnchorLink" href="/mens-college-basketball/team/_/id/26/ucla-bruins" tabindex="0">UCLA<!-- --> </a>*</span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371267" tabindex="0">83-63 <!-- --> </a></span></td><td class="Table__TD"><span>6-0 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->24</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->9</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->6</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="8"><td class="Table__TD"><span>Fri, Nov 26</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/150/duke-blue-devils" tabindex="0"><img alt="Duke" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/150.png&amp;w=40&amp;h=40" title="Duke"/> </a></span><span>5 <a class="AnchorLink" href="/mens-college-basketball/team/_/id/150/duke-blue-devils" tabindex="0">Duke<!-- --> </a>*</span></div></td><td class="Table__TD"><span class="fw-bold clr-negative">L</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401369835" tabindex="0">84-81 <!-- --> </a></span></td><td class="Table__TD"><span>6-1 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->20</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->10</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->11</span></td></tr><tr class="filled Table__TR Table__TR--sm Table__even" data-idx="9"><td class="Table__TD"><span>Mon, Nov 29</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2627/tarleton-texans" tabindex="0"><img alt="Tarleton" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2627.png&amp;w=40&amp;h=40" title="Tarleton"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2627/tarleton-texans" tabindex="0">Tarleton<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371274" tabindex="0">64-55 <!-- --> </a></span></td><td class="Table__TD"><span>7-1 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4397242/rasir-bolton" tabindex="0">Bolton<!-- --> </a> <!-- -->17</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4432181/julian-strawther" tabindex="0">Strawther<!-- --> </a> <!-- -->12</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->2</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="10"><td class="Table__TD"><span>Sat, Dec 4</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/333/alabama-crimson-tide" tabindex="0"><img alt="Alabama" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/333.png&amp;w=40&amp;h=40" title="Alabama"/> </a></span><span>16 <a class="AnchorLink" href="/mens-college-basketball/team/_/id/333/alabama-crimson-tide" tabindex="0">Alabama<!-- --> </a>*</span></div></td><td class="Table__TD"><span class="fw-bold clr-negative">L</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371280" tabindex="0">91-82 <!-- --> </a></span></td><td class="Table__TD"><span>7-2 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->23</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->11</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->4</span></td></tr><tr class="filled Table__TR Table__TR--sm Table__even" data-idx="11"><td class="Table__TD"><span>Thu, Dec 9</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2771/merrimack-warriors" tabindex="0"><img alt="Merrimack" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2771.png&amp;w=40&amp;h=40" title="Merrimack"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2771/merrimack-warriors" tabindex="0">Merrimack<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371287" tabindex="0">80-55 <!-- --> </a></span></td><td class="Table__TD"><span>8-2 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431695/drew-timme" tabindex="0">Timme<!-- --> </a> <!-- -->22</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->15</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4431705/anton-watson" tabindex="0">Watson<!-- --> </a> <!-- -->5</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="12"><td class="Table__TD"><span>Sun, Dec 12</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/264/washington-huskies" tabindex="0"><img alt="Washington" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/264.png&amp;w=40&amp;h=40" title="Washington"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/264/washington-huskies" tabindex="0">Washington<!-- --> </a></span></div></td><td class="tc ttu Table__TD" colspan="5">Canceled</td></tr><tr class="filled Table__TR Table__TR--sm Table__even" data-idx="13"><td class="Table__TD"><span>Sat, Dec 18</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2641/texas-tech-red-raiders" tabindex="0"><img alt="Texas Tech" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2641.png&amp;w=40&amp;h=40" title="Texas Tech"/> </a></span><span>25 <a class="AnchorLink" href="/mens-college-basketball/team/_/id/2641/texas-tech-red-raiders" tabindex="0">Texas Tech<!-- --> </a>*</span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371295" tabindex="0">69-55 <!-- --> </a></span></td><td class="Table__TD"><span>9-2 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->16</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->11</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4395712/andrew-nembhard" tabindex="0">Nembhard<!-- --> </a> <!-- -->6</span></td></tr><tr class="Table__TR Table__TR--sm Table__even" data-idx="14"><td class="Table__TD"><span>Mon, Dec 20</span></td><td class="Table__TD"><div class="flex items-center opponent-logo"><span class="pr2">vs</span><span class="tc pr2" style="width:20px;height:20px"><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2464/northern-arizona-lumberjacks" tabindex="0"><img alt="Northern Arizona" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/2464.png&amp;w=40&amp;h=40" title="Northern Arizona"/> </a></span><span><a class="AnchorLink" href="/mens-college-basketball/team/_/id/2464/northern-arizona-lumberjacks" tabindex="0">Northern Arizona<!-- --> </a></span></div></td><td class="Table__TD"><span class="fw-bold clr-positive">W</span><span class="ml4"><a class="AnchorLink" href="http://www.espn.com/mens-college-basketball/game/_/gameId/401371299" tabindex="0">95-49 <!-- --> </a></span></td><td class="Table__TD"><span>10-2 (0-0)</span></td><td class="Table__TD"><span><a class="AnchorLink" href="https://www.espn.com/mens-college-basketball/player/_/id/4433255/chet-holmgren" tabindex="0">Holmgren<!-- --> </a> <!-- -->20</span></td><td class="Table__T

In [7]:
# - Team_Schedule
#     - espn_team_id
#     - opponent_espn_team_id
#     - game_date (strftime("%m-%d-%y"))
#     - is_home
#     - is_neutral_court
#     - is_win
#     - final_score
#     - opponent_final_score
#     - game_time 
#     - tv
#     - cancelled_or_postponed

team_id = 2250
game_is_final = True
date_header_count = 0
all_games = []

for row in table.find_all('tr'):
    game_cancelled_or_postponed = False
    all_cols = row.find_all('td')
    if all_cols[0].text=='DATE':
        date_header_count+=1

    if date_header_count == 2:
        game_is_final = False

    if len(all_cols)>1 and all_cols[0].text!='DATE':
        print(all_cols[0].text)
        if all_cols[2].text.lower() == 'canceled' or all_cols[2].text.lower() == 'postponed':
            game_cancelled_or_postponed = True
        
        this_game = {'espn_team_id': team_id}
        col_count = 1
        
        for col in all_cols:
            if col_count == 1:
                #date
                game_date = datetime.datetime.strptime(col.text, "%a, %b %d")
                if game_date.date() < datetime.date(1900,5,1):
                    game_date = game_date + datetime.timedelta(365.25*122)
                else:
                    game_date = game_date + datetime.timedelta(365.25*121)


                this_game['game_date'] = game_date.strftime("%m-%d-%y")
            elif col_count == 2:
                #opponent_espn_team_id
                #is_home
                #is_neutral_court
                spans = col.find_all('span')
                this_game['is_home'] = spans[0].text == 'vs' and '*' not in spans[2].text
                this_game['opponent_espn_team_id'] = int(re.search(r'_/id/([0-9]+)', spans[1].find('a').attrs['href']).group(1))
                this_game['is_neutral_court'] = '*' in spans[2].text 
            elif col_count == 3:
                if game_is_final:
                    this_game['cancelled_or_postponed'] = game_cancelled_or_postponed
                    if game_cancelled_or_postponed:
                        this_game['is_win'] = None
                        this_game['final_score'] = None
                        this_game['opponent_final_score'] = None
                        this_game['game_time'] = None
                        this_game['tv'] = None
                        
                    else:
                        #is_win
                        #final_score
                        #opponent_final_score
                        spans = col.find_all('span')
                        this_game['is_win'] = spans[0].text == 'W'
                        if this_game['is_win']:
                            this_game['final_score'] = spans[1].text.split('-')[0]
                            this_game['opponent_final_score'] = spans[1].text.split('-')[1]
                        else:
                            this_game['final_score'] = spans[1].text.split('-')[1]
                            this_game['opponent_final_score'] = spans[1].text.split('-')[0]
                        
                        this_game['game_time'] = None
                        this_game['tv'] = None

                else:
                    # game_time 
                    # tv
                    spans = col.find_all('span')
                    this_game['game_time'] = spans[0].text
                    this_game['tv'] = None
                    
                    this_game['is_win'] = None
                    this_game['final_score'] = None
                    this_game['opponent_final_score'] = None

            col_count +=1
        all_games.append(this_game)

df = pd.DataFrame(all_games)
df

Tue, Nov 9
Sat, Nov 13
Mon, Nov 15
Fri, Nov 19
Mon, Nov 22
Tue, Nov 23
Fri, Nov 26
Mon, Nov 29
Sat, Dec 4
Thu, Dec 9
Sun, Dec 12
Sat, Dec 18
Mon, Dec 20
Tue, Dec 28
Thu, Dec 30
Sat, Jan 1
Sat, Jan 8
Thu, Jan 13
Sat, Jan 15
Thu, Jan 20
Thu, Jan 27
Sat, Jan 29
Thu, Feb 3
Sat, Feb 5
Thu, Feb 10
Sat, Feb 12
Wed, Feb 16
Sat, Feb 19
Thu, Feb 24
Sat, Feb 26

,espn_team_id,game_date,is_home,opponent_espn_team_id,is_neutral_court,cancelled_or_postponed,is_win,final_score,opponent_final_score,game_time,tv
0,2250,11-09-21,True,3101,False,False,True,97,63,None,None
1,2250,11-13-21,True,251,False,False,True,86,74,None,None
2,2250,11-15-21,True,2016,False,False,True,84,57,None,None
3,2250,11-19-21,True,91,False,False,True,92,50,None,None
4,2250,11-22-21,False,2117,True,False,True,107,54,None,None
5,2250,11-23-21,False,26,True,False,True,83,63,None,None
6,2250,11-26-21,False,150,True,False,False,81,84,None,None
7,2250,11-29-21,True,2627,False,False,True,64,55,None,None
8,2250,12-04-21,False,333,True,False,False,82,91,None,None
9,2250,12-09-21,True,2771,False,False,True,80,55,None,None
10,2250,12-12-21,True,264,False,True,None,None,None,None,None
11,2250,12-18-21,False,2641,True,False,True,69,55,None,None
12,2250,12-20-21,True,2464,False,False,True,95,49,None,None
13,2250,12-28-21,True,2453,False,False,True,93,63,None,None
14,2250,12-30-21,False,301,False,True,None,None,None,None,None
15,2250,01-01-22,False,2351,False,True,None,None,None,None,None
16,2250,01-08-22,True,2492,False,False,True,117,83,None,None
17,2250,01-13-22,True,252,False,False,True,110,84,None,None
18,2250,01-15-22,False,2541,False,False,True,115,83,None,None
19,2250,01-20-22,True,2539,False,False,True,78,62,None,None
20,2250,01-27-22,True,2351,False,False,True,89,55,None,None
21,2250,01-29-22,True,2501,False,False,True,104,72,None,None
22,2250,02-03-22,False,301,False,False,True,92,62,None,None
23,2250,02-05-22,False,252,False,False,True,90,57,None,None
24,2250,02-10-22,True,279,False,False,True,89,51,None,None
25,2250,02-12-22,True,2608,False,False,True,74,58,None,None
26,2250,02-16-22,False,2492,False,False,True,86,66,None,None
27,2250,02-19-22,True,2541,False,NaN,None,None,None,LIVE,None
28,2250,02-24-22,False,2539,False,NaN,None,None,None,9:00 PM,None
29,2250,02-26-22,False,2608,False,NaN,None,None,None,10:00 PM,None

In [8]:
df.to_sql('team_schedule', con,if_exists='append', index=False)

30

In [12]:
sql_query = f'SELECT * FROM team_schedule WHERE espn_team_id = {team_id}'
df = pd.read_sql_query(sql_query, con)
df

,espn_team_id,opponent_espn_team_id,game_date,is_home,is_neutral_court,is_win,final_score,opponent_final_score,game_time,tv,cancelled_or_postponed
0,2250,3101,11-09-21,1,0,1.0,97.0,63.0,None,None,0.0
1,2250,251,11-13-21,1,0,1.0,86.0,74.0,None,None,0.0
2,2250,2016,11-15-21,1,0,1.0,84.0,57.0,None,None,0.0
3,2250,91,11-19-21,1,0,1.0,92.0,50.0,None,None,0.0
4,2250,2117,11-22-21,0,1,1.0,107.0,54.0,None,None,0.0
5,2250,26,11-23-21,0,1,1.0,83.0,63.0,None,None,0.0
6,2250,150,11-26-21,0,1,0.0,81.0,84.0,None,None,0.0
7,2250,2627,11-29-21,1,0,1.0,64.0,55.0,None,None,0.0
8,2250,333,12-04-21,0,1,0.0,82.0,91.0,None,None,0.0
9,2250,2771,12-09-21,1,0,1.0,80.0,55.0,None,None,0.0
10,2250,264,12-12-21,1,0,NaN,NaN,NaN,None,None,1.0
11,2250,2641,12-18-21,0,1,1.0,69.0,55.0,None,None,0.0
12,2250,2464,12-20-21,1,0,1.0,95.0,49.0,None,None,0.0
13,2250,2453,12-28-21,1,0,1.0,93.0,63.0,None,None,0.0
14,2250,301,12-30-21,0,0,NaN,NaN,NaN,None,None,1.0
15,2250,2351,01-01-22,0,0,NaN,NaN,NaN,None,None,1.0
16,2250,2492,01-08-22,1,0,1.0,117.0,83.0,None,None,0.0
17,2250,252,01-13-22,1,0,1.0,110.0,84.0,None,None,0.0
18,2250,2541,01-15-22,0,0,1.0,115.0,83.0,None,None,0.0
19,2250,2539,01-20-22,1,0,1.0,78.0,62.0,None,None,0.0
20,2250,2351,01-27-22,1,0,1.0,89.0,55.0,None,None,0.0
21,2250,2501,01-29-22,1,0,1.0,104.0,72.0,None,None,0.0
22,2250,301,02-03-22,0,0,1.0,92.0,62.0,None,None,0.0
23,2250,252,02-05-22,0,0,1.0,90.0,57.0,None,None,0.0
24,2250,279,02-10-22,1,0,1.0,89.0,51.0,None,None,0.0
25,2250,2608,02-12-22,1,0,1.0,74.0,58.0,None,None,0.0
26,2250,2492,02-16-22,0,0,1.0,86.0,66.0,None,None,0.0
27,2250,2541,02-19-22,1,0,NaN,NaN,NaN,LIVE,None,NaN
28,2250,2539,02-24-22,0,0,NaN,NaN,NaN,9:00 PM,None,NaN
29,2250,2608,02-26-22,0,0,NaN,NaN,NaN,10:00 PM,None,NaN

In [13]:
df[df['cancelled_or_postponed'].isnull()]

,espn_team_id,opponent_espn_team_id,game_date,is_home,is_neutral_court,is_win,final_score,opponent_final_score,game_time,tv,cancelled_or_postponed
27,2250,2541,02-19-22,1,0,NaN,NaN,NaN,LIVE,None,NaN
28,2250,2539,02-24-22,0,0,NaN,NaN,NaN,9:00 PM,None,NaN
29,2250,2608,02-26-22,0,0,NaN,NaN,NaN,10:00 PM,None,NaN

In [49]:
if game_date.date() < datetime.date(1900,5,1):
    game_date = game_date + datetime.timedelta(365.25*122)
else:
    game_date = game_date + datetime.timedelta(365.25*121)

game_date

datetime.datetime(2022, 2, 26, 12, 0)

In [26]:
test_str = "/mens-college-basketball/team/_/id/2117/central-michigan-chippewas"


import re

find_id = re.compile(r'_/id/([0-9]+)')

find_id.findall(test_str)


'*' in 'Central Michigan *'

True

In [14]:
existing_games_remaining = df[df['cancelled_or_postponed'].isnull()].copy()
existing_games_remaining

,espn_team_id,opponent_espn_team_id,game_date,is_home,is_neutral_court,is_win,final_score,opponent_final_score,game_time,tv,cancelled_or_postponed
27,2250,2541,02-19-22,1,0,NaN,NaN,NaN,LIVE,None,NaN
28,2250,2539,02-24-22,0,0,NaN,NaN,NaN,9:00 PM,None,NaN
29,2250,2608,02-26-22,0,0,NaN,NaN,NaN,10:00 PM,None,NaN

In [15]:
latest_games_remaining = df[(df['cancelled_or_postponed'].isnull())& (df['game_time']!='LIVE')].copy()
latest_games_remaining

,espn_team_id,opponent_espn_team_id,game_date,is_home,is_neutral_court,is_win,final_score,opponent_final_score,game_time,tv,cancelled_or_postponed
28,2250,2539,02-24-22,0,0,NaN,NaN,NaN,9:00 PM,None,NaN
29,2250,2608,02-26-22,0,0,NaN,NaN,NaN,10:00 PM,None,NaN

In [18]:
lastest_df = df.copy()

lastest_df.loc[(lastest_df['game_time']=='LIVE'), ['is_win', 'final_score', 'opponent_final_score', 'cancelled_or_postponed']] = [1,99,65,0]
lastest_df

,espn_team_id,opponent_espn_team_id,game_date,is_home,is_neutral_court,is_win,final_score,opponent_final_score,game_time,tv,cancelled_or_postponed
0,2250,3101,11-09-21,1,0,1.0,97.0,63.0,None,None,0.0
1,2250,251,11-13-21,1,0,1.0,86.0,74.0,None,None,0.0
2,2250,2016,11-15-21,1,0,1.0,84.0,57.0,None,None,0.0
3,2250,91,11-19-21,1,0,1.0,92.0,50.0,None,None,0.0
4,2250,2117,11-22-21,0,1,1.0,107.0,54.0,None,None,0.0
5,2250,26,11-23-21,0,1,1.0,83.0,63.0,None,None,0.0
6,2250,150,11-26-21,0,1,0.0,81.0,84.0,None,None,0.0
7,2250,2627,11-29-21,1,0,1.0,64.0,55.0,None,None,0.0
8,2250,333,12-04-21,0,1,0.0,82.0,91.0,None,None,0.0
9,2250,2771,12-09-21,1,0,1.0,80.0,55.0,None,None,0.0
10,2250,264,12-12-21,1,0,NaN,NaN,NaN,None,None,1.0
11,2250,2641,12-18-21,0,1,1.0,69.0,55.0,None,None,0.0
12,2250,2464,12-20-21,1,0,1.0,95.0,49.0,None,None,0.0
13,2250,2453,12-28-21,1,0,1.0,93.0,63.0,None,None,0.0
14,2250,301,12-30-21,0,0,NaN,NaN,NaN,None,None,1.0
15,2250,2351,01-01-22,0,0,NaN,NaN,NaN,None,None,1.0
16,2250,2492,01-08-22,1,0,1.0,117.0,83.0,None,None,0.0
17,2250,252,01-13-22,1,0,1.0,110.0,84.0,None,None,0.0
18,2250,2541,01-15-22,0,0,1.0,115.0,83.0,None,None,0.0
19,2250,2539,01-20-22,1,0,1.0,78.0,62.0,None,None,0.0
20,2250,2351,01-27-22,1,0,1.0,89.0,55.0,None,None,0.0
21,2250,2501,01-29-22,1,0,1.0,104.0,72.0,None,None,0.0
22,2250,301,02-03-22,0,0,1.0,92.0,62.0,None,None,0.0
23,2250,252,02-05-22,0,0,1.0,90.0,57.0,None,None,0.0
24,2250,279,02-10-22,1,0,1.0,89.0,51.0,None,None,0.0
25,2250,2608,02-12-22,1,0,1.0,74.0,58.0,None,None,0.0
26,2250,2492,02-16-22,0,0,1.0,86.0,66.0,None,None,0.0
27,2250,2541,02-19-22,1,0,1.0,99.0,65.0,LIVE,None,0.0
28,2250,2539,02-24-22,0,0,NaN,NaN,NaN,9:00 PM,None,NaN
29,2250,2608,02-26-22,0,0,NaN,NaN,NaN,10:00 PM,None,NaN

In [16]:
updated_dates = list(existing_games_remaining[~existing_games_remaining['game_date'].isin(latest_games_remaining['game_date'])]['game_date'])
updated_dates

['02-19-22']

In [31]:
#existing_games_remaining = existing_df[existing_df['cancelled_or_postponed'].isnull()].copy()
#latest_games_remaining = lastest_df[lastest_df['cancelled_or_postponed'].isnull()].copy()
lastest_df = df.copy()

lastest_df.loc[(lastest_df['game_time']=='LIVE'), ['is_win', 'final_score', 'opponent_final_score', 'cancelled_or_postponed']] = [1,99,65,0]
lastest_df

existing_games_remaining = df[df['cancelled_or_postponed'].isnull()].copy()
latest_games_remaining = df[(df['cancelled_or_postponed'].isnull()) & (df['game_time']!='LIVE')].copy()


if len(existing_games_remaining) > len(latest_games_remaining):
    #get dates that were updated and replace with new values
    updated_dates = list(existing_games_remaining[~existing_games_remaining['game_date'].isin(latest_games_remaining['game_date'])]['game_date'])

    for date in updated_dates:
        updated_date_value = lastest_df[lastest_df['game_date']== date]

        cur = con.cursor()

        update_str = f"""UPDATE team_schedule
                            SET is_win = {updated_date_value['is_win'].values[0]},
                                final_score = {updated_date_value['final_score'].values[0]},
                                opponent_final_score = {updated_date_value['opponent_final_score'].values[0]},
                                cancelled_or_postponed = {updated_date_value['cancelled_or_postponed'].values[0]}
                        WHERE
                            espn_team_id = {team_id} and
                            game_date = '{date}'"""
        print(update_str)

        cur.execute(update_str)
        con.commit()

UPDATE team_schedule
                            SET is_win = 1.0,
                                final_score = 99.0,
                                opponent_final_score = 65.0,
                                cancelled_or_postponed = 0.0
                        WHERE
                            espn_team_id = 2250 and
                            game_date = '02-19-22'

In [25]:
int(updated_date_value['is_win'].values[0])

1

In [30]:
sql_query = f'SELECT * FROM team_schedule WHERE espn_team_id = {team_id}'
df_new = pd.read_sql_query(sql_query, con)
df_new

,espn_team_id,opponent_espn_team_id,game_date,is_home,is_neutral_court,is_win,final_score,opponent_final_score,game_time,tv,cancelled_or_postponed
0,2250,3101,11-09-21,1,0,1.0,97.0,63.0,None,None,0.0
1,2250,251,11-13-21,1,0,1.0,86.0,74.0,None,None,0.0
2,2250,2016,11-15-21,1,0,1.0,84.0,57.0,None,None,0.0
3,2250,91,11-19-21,1,0,1.0,92.0,50.0,None,None,0.0
4,2250,2117,11-22-21,0,1,1.0,107.0,54.0,None,None,0.0
5,2250,26,11-23-21,0,1,1.0,83.0,63.0,None,None,0.0
6,2250,150,11-26-21,0,1,0.0,81.0,84.0,None,None,0.0
7,2250,2627,11-29-21,1,0,1.0,64.0,55.0,None,None,0.0
8,2250,333,12-04-21,0,1,0.0,82.0,91.0,None,None,0.0
9,2250,2771,12-09-21,1,0,1.0,80.0,55.0,None,None,0.0
10,2250,264,12-12-21,1,0,NaN,NaN,NaN,None,None,1.0
11,2250,2641,12-18-21,0,1,1.0,69.0,55.0,None,None,0.0
12,2250,2464,12-20-21,1,0,1.0,95.0,49.0,None,None,0.0
13,2250,2453,12-28-21,1,0,1.0,93.0,63.0,None,None,0.0
14,2250,301,12-30-21,0,0,NaN,NaN,NaN,None,None,1.0
15,2250,2351,01-01-22,0,0,NaN,NaN,NaN,None,None,1.0
16,2250,2492,01-08-22,1,0,1.0,117.0,83.0,None,None,0.0
17,2250,252,01-13-22,1,0,1.0,110.0,84.0,None,None,0.0
18,2250,2541,01-15-22,0,0,1.0,115.0,83.0,None,None,0.0
19,2250,2539,01-20-22,1,0,1.0,78.0,62.0,None,None,0.0
20,2250,2351,01-27-22,1,0,1.0,89.0,55.0,None,None,0.0
21,2250,2501,01-29-22,1,0,1.0,104.0,72.0,None,None,0.0
22,2250,301,02-03-22,0,0,1.0,92.0,62.0,None,None,0.0
23,2250,252,02-05-22,0,0,1.0,90.0,57.0,None,None,0.0
24,2250,279,02-10-22,1,0,1.0,89.0,51.0,None,None,0.0
25,2250,2608,02-12-22,1,0,1.0,74.0,58.0,None,None,0.0
26,2250,2492,02-16-22,0,0,1.0,86.0,66.0,None,None,0.0
27,2250,2541,02-19-22,1,0,NaN,NaN,NaN,LIVE,None,NaN
28,2250,2539,02-24-22,0,0,NaN,NaN,NaN,9:00 PM,None,NaN
29,2250,2608,02-26-22,0,0,NaN,NaN,NaN,10:00 PM,None,NaN

In [12]:
cur = con.cursor()
cur.execute('DELETE FROM team_week_rankings')
con.commit()

In [6]:
teams_df, team_week_rankings, existing_team_week_rankings = load_database_functions.load_top25_teams(con, 2)

In [7]:
team_week_rankings

    espn_team_id  week_number ranking
0           2250            2       1
1             26            2       2
2           2305            2       3
3            130            2       4
4            222            2       5
5           2509            2       6
6            150            2       7
7            251            2       8
8            239            2       9
9            356            2      10
10           235            2      11
11          2483            2      12
12            96            2      13
13           333            2      14
14           248            2      15
15             8            2      16
16          2633            2      17
17           153            2      18
18           194            2      19
19           120            2      20
20             2            2      21
21           179            2      22
22            41            2      23
23            57            2      24
24            30            2      25

In [8]:
existing_team_week_rankings

    espn_team_id  week_number  ranking
0           2250            1        1
1             26            1        2
2           2305            1        3
3            222            1        4
4            251            1        5
5            130            1        6
6           2509            1        7
7            239            1        8
8            150            1        9
9             96            1       10
10           356            1       11
11           235            1       12
12          2483            1       13
13           333            1       14
14           248            1       15
15             8            1       16
16           194            1       17
17          2633            1       18
18           153            1       19
19            52            1       20
20           120            1       21
21             2            1       22
22           179            1       23
23            41            1       24
24           258            1       25

In [7]:
all_teams = pd.read_sql_query('''SELECT DISTINCT opponent_espn_team_id
FROM team_schedule as ts
LEFT JOIN teams as t on ts.opponent_espn_team_id=t.espn_team_id
WHERE t.espn_team_id is NULL''', con)

all_teams

     opponent_espn_team_id
0                     3101
1                     2016
2                       91
3                     2117
4                     2627
..                     ...
245                   2046
246                   2174
247                   2253
248                   2239
249                   2172

[250 rows x 1 columns]

In [22]:
for team_id in all_teams['opponent_espn_team_id']:
    print(team_id)
    team_response = requests.get(load_database_functions.TEAM_SCHEDULE_URL.replace('TEAM_ID', str(team_id)))

    soup = BeautifulSoup(team_response.content, 'lxml')
    team_name = soup.find('h1', attrs={'class': 'ClubhouseHeader__Name' }).find('span').find('span').text.replace("'", "''")
    logo_url = load_database_functions.LOGO_URL.replace('TEAM_ID', str(team_id))
    team_page_url = 'testURL' #load_database_functions.TEAM_HOME_URL.replace('TEAM_ID', str(team_id))

    query_str = f"INSERT INTO teams VALUES ({team_id},'{team_name}', '{logo_url}', '{team_page_url}')"
    cur.execute(query_str)
con.commit()

3101
2016
91
2117
2627
2771
264
2464
2453
301
2351
2492
2541
2539
2501
279
2934
299
2454
2439
38
2011
13
9
25
204
254
24
265
2619
249
2168
314
2599
2638
142
2617
2440
2244
197
277
201
2306
2628
116
47
2325
219
2603
183
156
218
305
2086
46
2277
2458
23
2856
2534
292
2029
2916
2084
2504
21
158
135
253
2870
2116
164
84
77
213
2294
282
2750
2437
152
2447
2110
2670
2466
349
2097
2241
322
2643
2569
2026
2210
259
228
87
59
2390
154
97
103
221
2523
195
399
2582
98
2272
61
238
245
344
2579
145
2296
2032
2132
2598
50
2635
2428
139
2655
2724
202
151
2567
58
2640
149
27
2348
2571
6
2473
2181
55
2275
242
2803
309
326
2382
2460
2031
2429
2006
315
189
119
2443
85
2630
2193
2506
2430
2908
2352
225
232
2427
231
104
288
2514
45
261
257
2329
2413
2433
43
2561
2099
68
2154
111
2230
2184
113
227
2115
112358
2066
2379
2755
2426
2515
256
161
270
2653
2463
526
2198
300
2449
16
325
3084
2623
328
2692
2335
2065
2681
2309
2450
2050
338
2545
2130
2711
2199
2649
2597
2739
2287
2377
2057
198
71
167
2005
278
2320
331
2217
2529
160
2612
82
2674
339
79
2565
2459
48
166
2729
2540
2393
236
2546
2197
2634
2046
2174
2253
2239
2172

In [19]:
soup.find('h1', attrs={'class': 'ClubhouseHeader__Name' }).find('span').find('span').text

'Dixie State'

In [40]:
non_number_teams =pd.read_sql_query('''SELECT *
FROM team_schedule''', con)
#non_number_teams['opponent_espn_team_id'].astype(int)

mask = pd.to_numeric(non_number_teams['opponent_espn_team_id'], errors='coerce').isna() 

non_number_teams.loc[mask, 'opponent_espn_team_id']

def get_id(opponent_espn_team_id):
    print(opponent_espn_team_id)
    print(-int(''.join([str(ord(chr_str) - 96) for chr_str in opponent_espn_team_id])))
    return -int(''.join([str(ord(chr_str) - 96) for chr_str in opponent_espn_team_id]))


non_number_teams.loc[mask, 'new_id'] = non_number_teams.loc[mask].apply(lambda x: get_id(x['opponent_espn_team_id']), axis=1)
non_number_teams

Chaminade
298113914145
Central Methodist

ValueError: invalid literal for int() with base 10: '-295142018112-64-19520815491920'

In [43]:
smallest_id = pd.read_sql_query('''SELECT min(espn_team_id)
FROM teams''', con)
smallest_id.values[0][0]

2

In [3]:
smallest_id = cur.execute('SELECT min(espn_team_id) FROM teams')
smallest_id.fetchone()[0]

-13

In [54]:
#cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
cur.execute("INSERT INTO teams VALUES (-1,'Test2', NULL, NULL)")

In [5]:
all_teams = pd.read_sql_query("""SELECT DISTINCT t.espn_team_id 
                                 FROM teams as t 
                                 INNER JOIN team_week_rankings as twr 
                                 on t.espn_team_id= twr.espn_team_id""", con)
all_teams

    espn_team_id
0           2250
1             26
2           2305
3            222
4            251
5            130
6           2509
7            239
8            150
9             96
10           356
11           235
12          2483
13           333
14           248
15             8
16           194
17          2633
18           153
19            52
20           120
21             2
22           179
23            41
24           258
25            57
26            30
27            12
28           252
29          2550
30          2752
31            66
32           127
33           275
34            99
35            36
36          2641
37          2507
38          2350
39           269
40          2166
41          2608
42            93
43          2751